* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
}

#cat {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
header, footer{
    position: absolute;
    background: palevioletred;
    color: antiquewhite;
    width: 100%;
}
header{
    height: 10vh;
}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 3%;
}
footer{
    height: 8vh;
    bottom: 0%;
}
footer h2{
    position: absolute;
    margin-top: 10px;
    left: 3%;
}
.nav{
    position: absolute;
    width: 100%;
}
.nav a{
    position: relative;
    left: 75%;
    top: 25px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.caption {
    font-size: 24px;
    font-family: Verdana;
}
.content {
    position: fixed;
    bottom: 0;
    background: palevioletred;
    color: antiquewhite;
    width: 100%;
    padding: 20px;
}
.mybtn {
    background-color: red;
      color: antiquewhite;
      border: none;
      padding-left: 16px;
      padding-top: 10px;
      padding-right: 16px;
      padding-bottom: 10px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 8px;
      transition: 0.15s;
      border-width: 12px;
      vertical-align: top;
}
    .mybtn:hover{
    opacity: 0.8;
    }